* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header .container nav .collapse .navbar-nav {
  gap: 20px;
  font-weight: 500;
}
header .container nav .collapse .navbar-nav .nav-item .nav-link {
  color: #AEB0B2;
}
header .container nav .collapse .navbar-nav .nav-item .nav-link:hover {
  color: white;
  transition: all 1s;
}
header .container nav .buttons .form-inline {
  gap: 10px;
}