* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    

  .container {
    
    nav {
      ul {

        li {

          a {
            font-weight: bold;
            color: black;

            &:hover {
              color: #69B4FD;
            }
          }

        }
      }
      

      .collapse {
        justify-content: flex-end;
      }
    }
  }
}


